# Requirements for the FOMOsim repository
# Install with: python -m pip install -r requirements.txt

numpy
pandas
matplotlib
scipy
seaborn
requests
geopy
geopandas
rasterio
shapely
Pillow
jsonpickle
contextily
progress
gurobipy
openpyxl
python-dateutil
